In [65]:
import string
import pandas as pd
import re, os

In [66]:
os.getcwd()

'/Users/hasana/Documents/projects/learning stuf/earthquake/notebook'

In [67]:
CURRENT_DIR = os.getcwd()
PARENT_DIR = CURRENT_DIR.replace("/notebook", "")
RAW_DATA_DIR = PARENT_DIR + "/data/raw"
RAW_DATA_DIR

'/Users/hasana/Documents/projects/learning stuf/earthquake/data/raw'

In [68]:
df = pd.read_csv(f'{RAW_DATA_DIR}/earthquake_bot_2022-08-20.csv')
df.head()

,Unnamed: 0,date,user,region,tweet,location,location_2,map_url,lat,long,magnitude
0,2,2022-08-19 18:17:02+00:00,earthquakeBot,occurred in South Sandwich Islands region.,A 5.2 magnitude earthquake occurred in South S...,South Atlantic Ocean,39JP272V+M7,https://www.google.com/maps/place/57%C2%B059'5...,-57.9983,-25.7068,5.2
1,5,2022-08-19 11:27:01+00:00,earthquakeBot,occurred in southern Mid-Atlantic Ridge.,A 5.2 magnitude earthquake occurred in souther...,South Atlantic Ocean,5CFCF7RJ+69,https://www.google.com/maps/place/20%C2%B030'3...,-20.5094,-11.7191,5.2
2,6,2022-08-19 05:25:01+00:00,earthquakeBot,occurred in South Sandwich Islands region.,A 5.3 magnitude earthquake occurred in South S...,South Atlantic Ocean,39MJRJHP+FC,https://www.google.com/maps/place/56%C2%B010'1...,-56.1713,-27.3639,5.3
3,8,2022-08-19 03:02:01+00:00,earthquakeBot,occurred in southern Mid-Atlantic Ridge.,A 5.1 magnitude earthquake occurred in souther...,South Atlantic Ocean,5CFCH625+5X,https://www.google.com/maps/place/20%C2%B026'5...,-20.4496,-11.7901,5.1
4,10,2022-08-18 21:54:01+00:00,earthquakeBot,occurred in southern Mid-Atlantic Ridge.,A 5.1 magnitude earthquake occurred in souther...,South Atlantic Ocean,5CF9QHGQ+F9,https://www.google.com/maps/place/20%C2%B013'2...,-20.2238,-12.4116,5.1

In [69]:
if df.user.unique()[0] != 'earthquakeBot':
    # filter the dataset to have only data from 'earthquakebot'
    df = df.query('User == "earthquakeBot"')
else:
    pass

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9 non-null      int64
 1   date        9 non-null      object
 2   user        9 non-null      object
 3   region      9 non-null      object
 4   tweet       9 non-null      object
 5   location    9 non-null      object
 6   location_2  9 non-null      object
 7   map_url     9 non-null      object
 8   lat         9 non-null      float64
 9   long        9 non-null      float64
 10  magnitude   9 non-null      float64
dtypes: float64(3), int64(1), object(7)
memory usage: 920.0+ bytes

### clean data
- region
- Date
- validate we only have data from `earthquakeBot`
-

In [71]:
df['date_'] = pd.to_datetime(df['date'])
df['date'] = df.date_.apply(lambda x: x.date())
df['time'] = df.date_.apply(lambda x: x.time())

In [73]:
df['region']= df.region.str.replace('occurred ', '').str.replace('in ', '').str.replace('.', '')

/var/folders/9k/93y5mwqx7vv2w2hhhthftg980000gn/T/ipykernel_60734/3807264903.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['region']= df.region.str.replace('occurred ', '').str.replace('in ', '').str.replace('.', '')

In [74]:
df.location.unique()

array(['South Atlantic Ocean', 'South Pacific Ocean', 'Molucca Sea',
       'North Pacific Ocean', "Requinoa, O'Higgins, Chile"], dtype=object)

In [75]:
def find_last_word(x):
    last_word = re.search("(\w+)$", x).group()
    if last_word in ["Sea", "Ocean", "River", "Volcano"]:
        return x
    else:
        return last_word

df['filtered_location'] = df.location.apply(lambda x : find_last_word(x))
df.head(5)

,Unnamed: 0,date,user,region,tweet,location,location_2,map_url,lat,long,magnitude,date_,time,filtered_location
0,2,2022-08-19,earthquakeBot,South Sandwich Islands region,A 5.2 magnitude earthquake occurred in South S...,South Atlantic Ocean,39JP272V+M7,https://www.google.com/maps/place/57%C2%B059'5...,-57.9983,-25.7068,5.2,2022-08-19 18:17:02+00:00,18:17:02,South Atlantic Ocean
1,5,2022-08-19,earthquakeBot,southern Mid-Atlantic Ridge,A 5.2 magnitude earthquake occurred in souther...,South Atlantic Ocean,5CFCF7RJ+69,https://www.google.com/maps/place/20%C2%B030'3...,-20.5094,-11.7191,5.2,2022-08-19 11:27:01+00:00,11:27:01,South Atlantic Ocean
2,6,2022-08-19,earthquakeBot,South Sandwich Islands region,A 5.3 magnitude earthquake occurred in South S...,South Atlantic Ocean,39MJRJHP+FC,https://www.google.com/maps/place/56%C2%B010'1...,-56.1713,-27.3639,5.3,2022-08-19 05:25:01+00:00,05:25:01,South Atlantic Ocean
3,8,2022-08-19,earthquakeBot,southern Mid-Atlantic Ridge,A 5.1 magnitude earthquake occurred in souther...,South Atlantic Ocean,5CFCH625+5X,https://www.google.com/maps/place/20%C2%B026'5...,-20.4496,-11.7901,5.1,2022-08-19 03:02:01+00:00,03:02:01,South Atlantic Ocean
4,10,2022-08-18,earthquakeBot,southern Mid-Atlantic Ridge,A 5.1 magnitude earthquake occurred in souther...,South Atlantic Ocean,5CF9QHGQ+F9,https://www.google.com/maps/place/20%C2%B013'2...,-20.2238,-12.4116,5.1,2022-08-18 21:54:01+00:00,21:54:01,South Atlantic Ocean

In [76]:
clean_df = df[['date', 'time', 'location','filtered_location', 'lat', 'long', 'magnitude', ]]
clean_df.head()

,date,time,location,filtered_location,lat,long,magnitude
0,2022-08-19,18:17:02,South Atlantic Ocean,South Atlantic Ocean,-57.9983,-25.7068,5.2
1,2022-08-19,11:27:01,South Atlantic Ocean,South Atlantic Ocean,-20.5094,-11.7191,5.2
2,2022-08-19,05:25:01,South Atlantic Ocean,South Atlantic Ocean,-56.1713,-27.3639,5.3
3,2022-08-19,03:02:01,South Atlantic Ocean,South Atlantic Ocean,-20.4496,-11.7901,5.1
4,2022-08-18,21:54:01,South Atlantic Ocean,South Atlantic Ocean,-20.2238,-12.4116,5.1

In [77]:
clean_df.time.unique()

array([datetime.time(18, 17, 2), datetime.time(11, 27, 1),
       datetime.time(5, 25, 1), datetime.time(3, 2, 1),
       datetime.time(21, 54, 1), datetime.time(18, 3, 1),
       datetime.time(8, 2, 2), datetime.time(6, 9, 1),
       datetime.time(2, 28, 1)], dtype=object)