In [13]:
import string
import pandas as pd
import re, os

In [14]:
CURRENT_DIR = os.getcwd()
PARENT_DIR = CURRENT_DIR.replace("script/preparation", "")
RAW_DATA_DIR = PARENT_DIR + "/data/raw"
CLEAN_DATA_DIR = PARENT_DIR + "/data/preprocessed/clean"

In [15]:
# pick the most recent file
df = pd.read_csv(f'{CLEAN_DATA_DIR}/clean_eq_2022_08_20.csv')
df = df.drop("Unnamed: 0",axis=1)

In [18]:
df.head()

,p_id,date,time,location,filtered_location,lat,long,magnitude
0,2,2022-08-19,18:17:02,South Atlantic Ocean,South Atlantic Ocean,-57.9983,-25.7068,5.2
1,5,2022-08-19,11:27:01,South Atlantic Ocean,South Atlantic Ocean,-20.5094,-11.7191,5.2
2,6,2022-08-19,05:25:01,South Atlantic Ocean,South Atlantic Ocean,-56.1713,-27.3639,5.3
3,8,2022-08-19,03:02:01,South Atlantic Ocean,South Atlantic Ocean,-20.4496,-11.7901,5.1
4,10,2022-08-18,21:54:01,South Atlantic Ocean,South Atlantic Ocean,-20.2238,-12.4116,5.1

In [19]:
numeric_data = df[["p_id", "date", "time", "magnitude"]]
numeric_data

   p_id        date      time  magnitude
0     2  2022-08-19  18:17:02        5.2
1     5  2022-08-19  11:27:01        5.2
2     6  2022-08-19  05:25:01        5.3
3     8  2022-08-19  03:02:01        5.1
4    10  2022-08-18  21:54:01        5.1
5    12  2022-08-18  18:03:01        5.0
6    15  2022-08-18  08:02:02        5.4
7    16  2022-08-18  06:09:01        5.1
8    18  2022-08-18  02:28:01        5.3

In [20]:
numeric_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   p_id       9 non-null      int64
 1   date       9 non-null      object
 2   time       9 non-null      object
 3   magnitude  9 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 416.0+ bytes